$factorH: 1vh;
$factorM: 0.8vh;
$factorV: 0.51vh;

@mixin cardscale($property, $size) {
  @media (max-aspect-ratio: 14/10) {
    #{$property}: $size * $factorM;
  }
  @media (max-aspect-ratio: 9/10) {
    #{$property}: $size * $factorV;
  }
  #{$property}: $size * $factorH;
  @if $property == "height" {
    @include cardscale(line-height, $size);
  }
}
