@import "hanafuda.scss";

html, body, #fullscreen {
  background: #5aa980;
}

#chat {
  background: #d8ebe7;
}

.card {
  &:not(.anchor) {
    border: 1px solid #500000;
    background-color: #161616;
    background-image: none;

    &.selected {
      background-color: #161616 !important;
      background-image: none;
    }

    &:hover {
      .enabled &, &.enabled {
        background-color: #161616;
        background-image: none;
      }
    }

    div:not(.card) {
      border: 1px solid #161616;
    }
  }
}
