@import "hanafuda.scss";

html, body, #fullscreen {
  background: #423C36;
  background: url("../static/backgrounds/sayagata-400px.png");
}

.card {
  &:not(.anchor) {
    background-color: black;
    background-image: none;

    &.selected {
      filter: none;
      background-image: none;
      background-color: black !important;
      transform: translate(0, -20px);
      outline: 3px solid #6c9d66;
    }

    &:hover {
      .enabled &, &.enabled {
        filter: none;
        background-color: black;
        background-image: none;
        outline: #fffbbb 3px solid;
      }

      .enabled &.selected, &.selected.enabled {
        filter: none;
        outline: 3px solid #d28e79;
      }
    }

    div:not(.card) {
      border: none;
    }
  }
}

.disabled {
  opacity: initial;

  .card, &.card {
    background-color: #404040;

    &:not(.anchor) div:not(.card) {
      position: relative;
      display: inline-block;
      top: -0.65vh;
      width: 10.5vh;
      height: 18vh;
      line-height: 18vh;
      margin-bottom: 0.1vh;
      background-color: #000;
      background-position: center;
      background-size: 111%;
      vertical-align: bottom;
      filter: contrast(0.5) saturate(0.5);
    }
  }

  .card {
    box-shadow: inset 0 0 0 1px #000;
  }
}
