@import "cardscale.scss";

* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

html, body, #fullscreen {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #402810;
}

#fullscreen {
  position: fixed;
}

#game, #lobby, #dlgshim {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80%;

  @media (max-aspect-ratio: 14/10) {
    height: 80%;
    width: 100%;
  }
}

#game, #lobby {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#myside, #oppside {
  position: relative;
}

#chat {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 100%;
  border-left: 1px solid black;
  background: white;
  font-size: 12pt;

  input {
    font-size: inherit;
    margin: 4px;
    height: 20pt;
  }

  @media (max-aspect-ratio: 14/10) {
    left: 0;
    width: 100%;
    height: 20%;
  }
}

#chatbuffer {
  flex-grow: 1;
  padding: 0.5em 0;
  border-bottom: 1px solid #808080;
  overflow-y: scroll;
  word-wrap: break-word;

  div {
    margin-bottom: 0.3em;
    padding: 0 0.5em;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
  }

  .systemMessage {
    background-color: #e0e0e0;
  }

  .joinMessage {
    color: #808080;
    font-style: italic;
  }
}

#chatform {
  position: relative;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10;
}

#chatname {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 4em;
  max-width: 4em;
}

#chatmessage {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 10em;
  min-width: 6em;
}

#chatsubmit {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 3em;
  max-width: 4em;
}

.anchor .anchor .card {
  z-index: 6;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  @include cardscale(width, 12);
  @include cardscale(height, 19.95);
  cursor: default;
  text-align: center;
  vertical-align: middle;

  &.anchor {
    z-index: 1;
    @include cardscale(margin, 1);

    .anchor {
      margin: 0;
    }
  }

  &:not(.anchor) {
    position: fixed;
    z-index: 4;
    border: 1px solid black;
    background-color: #c02020;
    color: white;
    background-size: 6px 6px;
    background-image: repeating-linear-gradient(135deg, #a04040 0, #d06060 1px, #c02020 0, #c02020 50%);
    background-position: top center;

    &.animate, &.animate div {
      z-index: 8;
      transition: left 0.25s cubic-bezier(0, .6, .75, 1), top 0.25s cubic-bezier(0.6, 0, 1, 0.75), width 0.25s linear, height 0.25s linear;
      .cardstack & {
        transition: left 0.4s cubic-bezier(0, .6, .75, 1), top 0.4s cubic-bezier(0.6, 0, 1, 0.75), width 0.4s linear, height 0.4s linear;
      }
    }

    &.placeholder {
      z-index: 3;
      background-color: rgba(208, 32, 32, 0.5);
      background-image: none;
      color: #ffff00;

      &.disabled {
        visibility: hidden;
      }
    }

    &.selected {
      filter: drop-shadow(0 0 1vh #ffff00);
      background-color: #c08020 !important;
      background-image: repeating-linear-gradient(135deg, #b04040 0, #e06060 1px, #c08020 0, #c08020 50%) !important;
    }

    &.highlight:not(:hover) {
      filter: drop-shadow(0 0 1vh white);
    }

    &:hover {
      .enabled &, &.enabled {
        filter: drop-shadow(0 0 2vh white);
        background-color: #d02020;
        background-image: repeating-linear-gradient(135deg, #b04040 0, #e06060 1px, #d02020 0, #d02020 50%);
        cursor: pointer;
      }

      .enabled &.selected, &.selected.enabled {
        filter: drop-shadow(0 0 2vh #ffff00);
      }
    }

    .anchor {
      position: absolute;
      @include cardscale(top, 2);
      @include cardscale(left, 2);
    }

    div:not(.card) {
      position: relative;
      display: inline-block;
      @include cardscale(top, -1);
      @include cardscale(width, 10);
      @include cardscale(height, 18);
      @include cardscale(margin-bottom, 0.1);
      border: 1px solid #a04040;
      background-color: #EFEEE6;
      background-size: cover;
      vertical-align: bottom;
    }
  }
}

.disabled {
  opacity: 0.5;
}


#myhand, #opphand {
  position: relative;
  @include cardscale(min-height, 22);
  @include cardscale(max-height, 22);
  @media (max-aspect-ratio: 9/10) {
    margin-left: 2vw;
    @include cardscale(width, 60);
    @include cardscale(min-height, 44);
    @include cardscale(max-height, 44);
  }

  .card {
    vertical-align: bottom;
  }
}

#fieldzone {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#deckzone {
  position: relative;
  margin-right: 4vw;
  flex-grow: 0;
}

#field {
  @include cardscale(height, 50);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;

  #field .card {
    position: static;
    @include cardscale(margin, 1);
  }

  @media (max-aspect-ratio: 9/10) {
    height: 25vh;
  }
}

#scorezone {
  flex-grow: 0;
  text-align: right;
  color: white;
  font-size: 12pt;
  line-height: 18pt;
  margin: 1em;
}

#mymatches {
  position: absolute;
  bottom: 0;
  right: 0;

  .card {
    vertical-align: bottom;
  }
}

#oppmatches {
  position: absolute;
  top: 0;
  right: 0;

  .card {
    vertical-align: top;
  }
}

.cardstack {
  position: relative;
  text-align: right;
  display: inline-block;

  .anchor + .anchor {
    @include cardscale(margin-left, -4);
  }

  .anchor:not(:hover), .anchor:not(:hover) .card {
    @include cardscale(width, 6);
    @include cardscale(height, 10);

    div:not(.card) {
      @include cardscale(top, -0.5);
      @include cardscale(width, 5);
      @include cardscale(height, 9);
    }
  }

  .stacklabel {
    pointer-events: none;
    display: none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: #efeee6;
    padding: 0.1em 0.25em;
    z-index: 9;
  }

  .card ~ .stacklabel {
    display: inline-block;
  }
}

div.yaku {
  display: inline-block;
  margin-left: 1px;
  width: 1.5em;
  height: 2.5em;
  background-size: cover;
  background-position: center;
  background-color: white;
  border: 1px solid black;
}

#dlgshim {
  z-index: 20;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;

  &.dlghidden {
    display: none;
  }

  &.dlgfade {
    opacity: 50%;

    #dialog {
      opacity: 50%;
    }
  }

  #dialog {
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    padding: 1em;
    text-align: center;

    p {
      margin-top: 0;
    }

    p, ul {
      text-align: left;
    }
  }
}

#lobby {
  .newRoom, #aboutButton, .room a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &:hover {
      background-color: white;
      border: 1px solid #808080;
    }
  }

  .newRoom {
    background-color: rgba(204, 255, 208, 0.8);
    width: 20em;

    &:hover {
      background-color: rgba(204, 255, 208, 1);
    }
  }

  #aboutButton {
    position: absolute;
    top: 0em;
    right: 0em;
    padding: 0.5em;

    background-color: rgba(255, 255, 255, 0.8);

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .room {
    display: inline-block;
    width: 20em;
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    h3 {
      margin: 0 0 0.5em;
      text-decoration: underline;
    }

    p {
      margin-bottom: 0.1em;
    }

    a {
      background-color: #fffff0;
      margin: .5em;
      padding: .7em 1.5em;
    }

    div {
      text-align: center;
    }
  }
}

#controls {
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  border-bottom: 1px solid #808080;
  min-height: 2.5em;

  #playername {
    flex-grow: 1;
    padding-left: 0.5em;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #404040;
    }
  }

  #leave {
    flex-grow: 0;
    margin: 0.1em;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.3em;
    background-color: #ffc0c0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &:hover {
      background-color: #ffe0e0;
    }
  }

  #settings {
    flex-grow: 0;
    font-size: 150%;
    margin: 0 0.2em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &:hover {
      background-color: #E0FFFF;
      color: #2040ff;
    }
  }
}

a.button, a.rematch {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  margin: 0.3em;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }

  &.selected {
    background-color: rgba(255, 255, 255, .5);
    border: 3px solid #404040;
    pointer-events: none;
    cursor: default;
  }
}

#preload {
  display: none;
}

.settings {
  table {
    border-spacing: 0;
  }
  th, td {
    text-align: left;
    padding: 4px;
  }
  th[colspan], td[colspan] {
    text-align: center;
  }
  select, input[type=text] {
    width: 100%;
  }
}
