@import "cardscale.scss";

.card {
  @include cardscale(width, 11.978);
  @include cardscale(height, 19.5);

  &:not(.anchor) {
    div:not(.card) {
      @include cardscale(top, -0.65);
      @include cardscale(width, 10.5);
      background-color: transparent;
      background-position: center;
      background-size: 111%;
    }
  }
}

.cardstack {
  .anchor:not(:hover), .anchor:not(:hover) .card {
    @include cardscale(width, 5.989);
    @include cardscale(height, 9.75);

    div:not(.card) {
      @include cardscale(top, -0.6);
      @include cardscale(width, 5);
      @include cardscale(height, 8.5);
    }
  }
}
