div.card {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;

  &:not(.anchor) div:not(.card) {
    border-width: .3vw;
    border-color: black;
  }
}
