<form class='settings' style='width:400px'>
<table width='100%'>
  <tr>
    <th colspan='2'><div style='text-align:center;text-decoration:underline'>Settings</div></th>
  </tr>
  <tr>
    <th>Username:</th>
    <td width='100%'><input id='setUsername' type='text' /></td>
  </tr>
  <tr>
    <th>Theme:</th>
    <td><select id='themeSelect'>
      {% for key, value in themes.items() %}
        <option value='{{ key }}'>{{ value }}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
    <th>Card Set:</th>
    <td><select id='cardsetSelect'>
      {% for key, value in cardsets.items() %}
        <option value='{{ key }}'>{{ value }}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
    <td colspan='2' align='center'>
      <input type='submit' value='Save' />
      <input type='button' value='Cancel' class='cancel' />
    </td>
  </tr>
</table>
<hr />
<table width='100%'>
  <tr>
    <th colspan='2'><div style='text-align:center;text-decoration:underline'>
      About <span id='cardsetName'></span>
    </div></th>
  </tr>
  <tr>
    <th>Copyright:</th>
    <td width='100%'>&copy; <span id='copyrightYear'></span> <span id='copyrightName'></span></td>
  </tr>
  <tr>
    <th>License:</th>
    <td><a id='cardLicense'></a></td>
  </tr>
  <tr>
    <th>Website:</th>
    <td><a id='cardAbout'>Visit Website</a></td>
  </tr>
</table>
</form>
<hr />
<div style='text-align:center'>
  <button id='aboutSettings'>About hanafuda-web</button>
</div>
